<div class="main-wrapper">
    <mat-card>
        <mat-card-title>
            <div style="text-align: center;">HOTEL: {{ nombreHotel}}</div>
        </mat-card-title>
        <br>
        <mat-card-content>
            <div class="line"></div>
            <table>
                <br>
                <tr>
                    <td style="width: 20%; text-align: center;">
                        <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
                        <mat-icon>
                            {{ showIcon(i) }}
                        </mat-icon>
                        </button>
                        <mat-error *ngIf="starCount == null || starCount == 0">
                            Star count is <strong>required</strong> and cannot be zero
                        </mat-error>
                        <p class="body-2">
                            Your rated <span class="body-2"> {{rating}} </span> / <span class="body-2"> {{starCount}} </span>
                        </p>
                    </td>
    
                    <td class="content">
                        <form [formGroup]="commentForm">
                            <mat-form-field class="comment" appearance="fill">
                                <mat-label>Comentar</mat-label>
                                <textarea maxlength #comentario formControlName="comentario" class="textArea" matInput placeholder="Escriba un comentario para el hotel" [(ngModel)]="mensaje" maxlength="151"></textarea>
                                <mat-hint align="end">{{comentario.value?.length || 0}}/150</mat-hint>
                                <mat-error *ngIf="commentForm.get('comentario').hasError('required')">
                                    Si quiere realizar un comentario, este es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="commentForm.get('comentario').hasError('maxlength')">
                                    El número de caracteres máximos son de <strong>150</strong>
                                </mat-error>
                                <mat-error *ngIf="commentForm.get('comentario').hasError('minlength')">
                                    El número de caracteres mínimos son de <strong>5</strong>
                                </mat-error>
                            </mat-form-field>
                        </form>
                        <div>
                            <button mat-raised-button (click)="comentarHotel()" [disabled]="boton" [disabled]="commentForm.invalid" style="cursor: pointer" color="primary"> 
                                <mat-icon>comment</mat-icon> Comentar 
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>