<div>
    <mat-card class="sombra">
        <mat-card-content>
            <form [formGroup]="agregarhform" (ngSubmit)="agregarHabitacion()">
                <h2 class="h2">Agregar Habitacion</h2>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Numero de baños</mat-label>
                        <input matInput name="Numero de baños" minlength="1" maxlength="1" formControlName="numbanios">
                        <mat-icon matSuffix>wc</mat-icon>
                        <mat-error *ngIf="agregarhform.get('numbanios').hasError('required')">
                                    Numero de baños <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="agregarhform.get('numbanios').hasError('pattern')">
                                    Se aceptan solo <strong>numeros</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad de personas</mat-label>
                        <input matInput name="Cantidad de personas" minlength="1" maxlength="1" formControlName="cantpersonas">
                        <mat-icon matSuffix>groups</mat-icon>
                        <mat-error *ngIf="agregarhform.get('cantpersonas').hasError('required')">
                            Cantidad de personas <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="agregarhform.get('cantpersonas').hasError('pattern')">
                            Se aceptan solo <strong>numeros</strong>
                        </mat-error>
                      </mat-form-field>                    
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de Habitacion</mat-label>
                        <mat-select required [(value)]="selected" formControlName="tipo">
                            <mat-option value="Básica">Básica</mat-option>
                            <mat-option value="Doble">Doble</mat-option>
                            <mat-option value="Premium">Premium</mat-option>
                        </mat-select>
                        <mat-error *ngIf="agregarhform.get('tipo').hasError('required')">
                            Tipo de Habitacion <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Numero de camas</mat-label>
                        <input matInput name="Numero de camas" minlength="1" maxlength="1" formControlName="cantcamas">
                        <mat-icon matSuffix>hotel</mat-icon>
                        <mat-error *ngIf="agregarhform.get('cantcamas').hasError('required')">
                            Numero de camas <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="agregarhform.get('cantcamas').hasError('pattern')">
                            Se aceptan solo <strong>numeros</strong>
                        </mat-error>
                      </mat-form-field>                    
                </p>

                <div class="center">
                <button mat-raised-button type="submit" class="boton" style="cursor: pointer" [disabled]="agregarhform.invalid"
                    color="primary">Agregar Habitacion</button>
                <button mat-raised-button routerLink="/perfil" class="boton2" style="cursor: pointer"
                    color="warn">Cancelar</button>
            </div>
            </form>
            
        </mat-card-content>
    </mat-card>
</div>