.container{
  margin-top: 3%;
  margin: auto;
  width: 80%;
  padding-bottom: 5px;
  border-bottom: 1px solid gainsboro;
  box-shadow: 0px 4px 4px -6px black;
}
.container div{
  display: inline-block;
  padding-left: 1.5%;
  padding-right: 5%;
  border-right: 1px solid gainsboro;  
}
.example-card {
  margin-top: 1%;
    max-width: 385px;
  }
  .example-card2 {
    margin-top: 1%;
      max-width: 86.5%;
      background-image: url("/assets/images/cardStyle.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
  .example-header-image {
    background-image: url("/assets/images/perfilDefault.jpg");
    background-size: cover;
  }

.carrusel{
  margin-top: 1%;
  width: 70%;
  
}
.owl-demo .item{
  margin: 3px;
}
.owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

table{
  margin-left: 6.5%;
  width: 100%;
  position: relative;
}
.tableCarrusel{
  width: 60%;
}
.botonImg{
  width: 5%;
}
.tableTitulo{
  position: relative;
  float: right;
}

.informacion{
  margin: auto;
  width: 80%;
}

.infohotel{
  padding: 5%;
  box-shadow: 0px 0px 3px 0px gray;
}

.contenidoInformacion{
  margin-top: 15px;
  margin-left: 10px;
 
}

.infohotel div{

  display: inline-table;
  margin-left: 5%;  
}

.icon{
  color: #3f51b5;
  font-size: 60px;
}
.info{
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.habitacion{
  margin-top: 3%;
  margin-left: 5%;
  width: 100%;
}
.linea{
  border: 0.5px solid gray;
  width: 90%;
}

.habitacion2{
  margin-top: 2%;
}
.habitacion2 h2{
  text-align: center;
}
.habitacion2 button{
  margin-left: 41%;
}


.subtitles{
  margin-top: 20px;
  color:#555555;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitles2{
  margin-top: 10px;
  color:#555555;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 25px;
  font-weight: 500;
}

.subtitles3{
  margin-top: 8px;
  color:#555555;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 25px;
  font-weight: 500;
}
.subtitles4{
  color:#555555;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 20px;
  font-weight: 500;
}

.error-container{
  color:#555555;
  font-size: 15px;
  font-weight: 20;
  margin-top: 50px;
}

.textos{
  color:#555555;
  font-size: 20px;
  font-weight: 20;
  font-weight: bold;
}

.textos2{
  color:#555555;
  font-size: 15px;
  font-weight: 20;
}

.lema{
  color:#555555;
  font-size: 18px;
  font-weight: 20;
}

.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #5271ff;
  font-size: 25px;
  font-weight: 600;
}

.error-container > span:nth-of-type(1) {
  margin-left: 3px;
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: #3ab5f8;
  font-size: 25px;
  font-weight: 600;
}

.error-container > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: #e32a27;
  font-size: 25px;
  font-weight: 600;
}

.botonReservar{
  margin-top: 25px;
  width: 100%;
}

.direccion{
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
  color:#3f51b5;
  font-size: 18px;
  font-weight: 20;
}

.direccion2{
  text-align: center;
  color:#3f51b5;
  font-size: 15px;
  font-weight: 20;
}

.line{
  margin-bottom: 8px;
  background-color: #fad15b;
  height: 2px;
}

.comentarios{
  margin-top: 3%;
  font-size: 2em;
  font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: rgb(126, 126, 126);
}

.comentarios2{
  text-align: center;
  margin-top: 3%;
  font-size: 2em;
  font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: rgb(126, 126, 126);
}

.comentarios3{
  text-align: center;
  margin-top: 1%;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: rgb(180, 180, 180);
}

.coments{
  font-size: 180px;
  margin-top: 20px;
  margin-left: 100px;
  color: rgb(180, 180, 180);
}

.coments2{
  margin-left: -130px;
  font-size: 180px;
  text-align: center;
  color: rgb(180, 180, 180);
}

.centrar{
 
  text-align: center;
}