<div [hidden]="route.children.length !== 0">
    <div class="contenido">
        <table>
            <tr>
                <div class="tdPicture">
                    <td>
                        <div class="imagen">
                            <img src="{{url}}{{cargarDatosPerfil.datos.fotoperfil}}">
                        </div>
                        <div>
                            <h3>Subir Imagen Angular 10</h3>
                            <span style="color:red;" *ngIf="message">{{message}}</span>
                            <input #file type="file" accept='image/*' (change)="preview($event)" />
                            <img [src]="imgURL" height="200" *ngIf="imgURL">
                        </div>

                        <br>
                        <div *ngIf="cargarDatosPerfil">
                            <h1>{{cargarDatosPerfil.datos.nombre}} {{cargarDatosPerfil.datos.apellido}}</h1>
                            <h2>@{{cargarDatosPerfil.datos.usuario}}</h2>
                        </div>
                        <div class="correo">
                            <div>
                                <mat-icon>email</mat-icon>
                            </div>
                            <div class="correoTx">
                                <p>{{cargarDatosPerfil.datos.correo}}</p>
                            </div>
                        </div><br><br>
                        <div class="correo">
                            <div>
                                <mat-icon class="green-icon" *ngIf="cargarDatosPerfil.estadoMembresia">
                                    check_circle_outline
                                </mat-icon>
                            </div>
                            <div>
                                <mat-icon class="red-icon" *ngIf="cargarDatosPerfil.b_ComprarMembresia1">error_outline
                                </mat-icon>
                            </div>
                            <div>
                                <mat-icon class="orange-icon" *ngIf="cargarDatosPerfil.b_ActualizarMembresia1">warning
                                </mat-icon>
                            </div>
                            <div class="correoTx">
                                <h3>Membresia</h3>
                            </div>
                        </div><br><br>
                        <div>
                            <button mat-raised-button *ngIf="cargarDatosPerfil.b_ActualizarMembresia1" color="primary"
                                (click)="comprarMembresia(cargarDatosPerfil.datos.id, cargarDatosPerfil.datos.usuario,cargarDatosPerfil.datos.correo)"> <mat-icon>autorenew</mat-icon> Actualizar
                                Membresía</button>
                            <button mat-raised-button *ngIf="cargarDatosPerfil.b_ComprarMembresia1" color="primary"
                                (click)="comprarMembresia(cargarDatosPerfil.datos.id, cargarDatosPerfil.datos.usuario,cargarDatosPerfil.datos.correo)"> <mat-icon>add_shopping_cart</mat-icon> Comprar
                                Membresía</button>
                        </div>
                        <br>
                        <div>
                            <button mat-raised-button color="primary" routerLink="/perfil/editarperfil">
                                <mat-icon>account_box</mat-icon> Editar Perfíl  </button>
                                

                        </div><br>
                        <div>
                            <button mat-raised-button color="primary" routerLink="/perfil/actualizarcontrasena">
                                <mat-icon>lock</mat-icon> Editar Contraseña </button>
                                

                        </div>
                    </td>
                </div>
                <td>
                    <div>
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Mis Hoteles" *ngIf="cargarDatosPerfil.b_mishoteles1">
                                <div class="content" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px"
                                    fxLayoutAlign="flex-start">
                                    <ng-container *ngFor="let hotel of hotelesDestacados">
                                        <mat-card class="card-style" fxFlex="0 1 calc(33.3% - 32px)"
                                            fxFlex.lt-md="0 1 calc(33.3% - 32px)" fxFlex.lt-sm="100%">
                                            <img mat-card-image class="imgCard" src="{{url2}}{{hotel.imagen}}">
                                            <button mat-mini-fab color="warn" class="boton3"
                                                aria-label="Example icon button with a delete icon">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <mat-card-content>
                                                <p class="hoteltitle">{{hotel.nombre}} </p>
                                                <div class="line"></div>
                                                <p class="titles">Precio desde: {{hotel.precionoche}}</p>
                                                <p class="subtitles">Ubicado en: {{hotel.zona}}</p>
                                                <div class="center">
                                                    <button mat-raised-button routerLink="/perfil/agregar_habitacion"
                                                        (click)="agregarHabitacion(hotel.idhotel)" class="boton"
                                                        style="cursor: pointer" color="primary">Agregar
                                                        Habitacion</button>
                                                    <button mat-raised-button routerLink="" class="boton2"
                                                        style="cursor: pointer" color="primary" (click)="mostrarReservasHotel(hotel.idhotel)">Ver
                                                        reservas</button>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </ng-container>
                                </div>
                            </mat-tab>
                            <mat-tab label="Mis Reservas">
                                <app-mis-reservas [idUsuario]="cargarDatosPerfil.datos.id"></app-mis-reservas>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<router-outlet></router-outlet>