<mat-card>
    <mat-card-header>
        <div class="subtitles2">
            Agregar Hotel
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="introCard">

            <form [formGroup]="agregarHotelForm" (ngSubmit)="onFromSubmit()">
                <div class="flex-row">
                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Nombre</mat-label>
                            <input #Nombre matInput formControlName="nombreH">
                            <mat-hint align="end">{{Nombre.value?.length || 0}}/30</mat-hint>
                            <mat-error *ngIf="agregarHotelForm.get('nombreH').hasError('required')">
                                El nombre es <strong>Requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="agregarHotelForm.get('nombreH').hasError('maxlength')">
                                El número de caracteres máximos son <strong>30</strong>
                            </mat-error>
                            <mat-error *ngIf="agregarHotelForm.get('nombreH').hasError('minlength')">
                                El número de caracteres mínimos son <strong>5</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Precio Habitación Básica</mat-label>
                            <input matInput type="number" formControlName="precioBasica">
                            <mat-error *ngIf="agregarHotelForm.get('precioBasica').hasError('required')">
                                El precio habitación básica <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>

                <div class="flex-row">

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Precio Habitación Doble</mat-label>
                            <input matInput type="number" formControlName="precioDoble">
                            <mat-error *ngIf="agregarHotelForm.get('precioDoble').hasError('required')">
                                El precio habitación doble <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Precio Habitación Premiun</mat-label>
                            <input matInput type="number" formControlName="precioPremium">
                            <mat-error *ngIf="agregarHotelForm.get('precioPremium').hasError('required')">
                                El precio habitación premiun <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>

                <div class="left">

                    <mat-form-field appearance="fill" class="comBox">
                        <mat-label>Municipio</mat-label>
                        <mat-select formControlName="idMunicipio" (selectionChange)="select($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let municipio of listasMunicipios" [value]="municipio.idmunicipio">
                                {{municipio.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="agregarHotelForm.get('idMunicipio').hasError('required')">
                            El minicipio es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="comBox2">
                        <mat-label>Zonas</mat-label>
                        <mat-select formControlName="Idzona">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let zonas of listasZonas" [value]="zonas.idzona">{{zonas.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="agregarHotelForm.get('Idzona').hasError('required')">
                            La zona es <strong>Requerida</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="flex-row2">

                    <div>
                        <h3>Imagen principal</h3>
                        <img [src]="imgURL" height="200" *ngIf="imgURL">
                        <span style="color:red;" *ngIf="message">{{message}}</span>
                        <div class="file-select">
                            <input #file type="file" accept='image/*' (change)="preview($event)" formControlName="imagenPrincipal"/>
                        </div>
                        <mat-error *ngIf="agregarHotelForm.get('imagenPrincipal').hasError('required')">
                            La imagen principal es <strong>Requerida</strong>
                        </mat-error>
                    </div>

                    <div>
                        <h3>imagen adicional</h3>
                        <img [src]="imgURL2" height="200" *ngIf="imgURL2">
                        <span style="color:red;" *ngIf="message2">{{message2}}</span>
                        <div class="file-select">
                            <input #file2 type="file" accept='image/*' (change)="preview2($event)" />
                        </div>
                    </div>

                    <div>
                        <h3>imagen adicional</h3>
                        <img [src]="imgURL3" height="200" *ngIf="imgURL3">
                        <span style="color:red;" *ngIf="message3">{{message3}}</span>
                        <div class="file-select">
                            <input #file3 type="file" accept='image/*' (change)="preview3($event)" />
                        </div>
                    </div>

                </div>

                <div class="left">

                    <mat-form-field appearance="fill" class="comBox" style="margin-top: 1%;">
                        <mat-label>Condiciones de bioseguridad del hotel</mat-label>
                        <textarea matInput formControlName="Condicionesbioseguridad"></textarea>
                        <mat-error *ngIf="agregarHotelForm.get('Condicionesbioseguridad').hasError('required')">
                            Las condiciones de bioseguridad es <strong>Requerida</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="comBox2">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="Direccion">
                        <mat-error *ngIf="agregarHotelForm.get('Direccion').hasError('required')">
                            La dirección es <strong>Requerida</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="flex-row">

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Check In</mat-label>
                            <input matInput formControlName="Checkin" type="time">
                            <mat-error *ngIf="agregarHotelForm.get('Checkin').hasError('required')">
                                El check in es <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Check Out</mat-label>
                            <input matInput formControlName="Checkout" type="time">
                            <mat-error *ngIf="agregarHotelForm.get('Checkout').hasError('required')">
                                El check out es <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>

                <div class="flex-row">

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput formControlName="Descripcion"></textarea>
                            <mat-error *ngIf="agregarHotelForm.get('Descripcion').hasError('required')">
                                La descripción es <strong>Requerida</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Condiciones</mat-label>
                            <textarea matInput formControlName="Condicion"></textarea>
                            <mat-error *ngIf="agregarHotelForm.get('Condicion').hasError('required')">
                                La condición es <strong>Requerida</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </div>

            </form>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button style="cursor: pointer" color="primary" [disabled]="agregarHotelForm.invalid"
            (click)="onFromSubmit()">Agregar hotel</button>
        <button mat-raised-button style="cursor: pointer" color="warn" type="button"
            routerLink="/perfil">Cancelar</button>
    </mat-card-actions>
</mat-card>