<div class="content2">
  <div>
    <table>
      <tr>
        <td>
          <mat-form-field class="filter" appearance="fill">
            <mat-label>Consultar hotel por nombre</mat-label>
            <input matInput [(ngModel)]="searchTerm" >
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Precio minimo </mat-label>
            <input matInput [(ngModel)]="searchMin">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Precio maximo</mat-label>
            <input matInput [(ngModel)]="searchMax">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Municipio</mat-label>
              <mat-select [(ngModel)]="searchMun">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let municipio of listasMunicipios" [value]="municipio.nombre">{{municipio.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Introduzca un rango</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </td>

        <td>
          <div>
            <mat-form-field appearance="fill" class="menubar">
              <mat-label>Zonas</mat-label>
              <mat-select [(ngModel)]="searchMun">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let zonas of listasZonas" [value]="zonas.nombre">{{zonas.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </td>

        <td>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Tipo de Habitación</mat-label>
              <mat-select>
                <mat-option value="1">Basica</mat-option>
                <mat-option value="2">Doble</mat-option>
                <mat-option value="3">Premium</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div>
            <form class="example-form">
              <mat-form-field class="example-full-width" appearance="fill" class="numPersonas">
                <mat-label>personas</mat-label>
                <input type="number" step="1" matInput placeholder="Ex. 4" value="">
              </mat-form-field>
            </form>
          </div>
        </td>
      </tr>
    </table>
  </div>


  <div>
    <div class="content" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <ng-container *ngFor="let card of listaDeHotelesPrincipalesFiltrados">
        <mat-card style="cursor: pointer;" class="card-style" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" (click)="mostrarHotel(card.idhotel)">
          <img mat-card-image src="{{url}}{{card.imagen}}">
          <mat-card-content>
            <p class="hoteltitle"> {{card.nombre}} </p>
            <div class="line"></div>
            <p class="titles">Precio desde: {{card.precionoche}}$ </p>
            <p class="subtitles">Ubicado en: {{card.municipio}}</p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>


  <div class="content3">
    <div class="subtitles2">
      Sugerencias y hoteles destacados
      <carousel height="350px" cellWidth="300px">
        <ng-container *ngFor="let card of listaDeHotelesPrincipales">
          <mat-card class="card-style2" fxFlex="0 1 calc(25% - 32px)">
            <img mat-card-image src="{{url}}{{card.imagen}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="hoteltitle"> {{card.nombre}} </p>
              <div class="line"></div>
              <p class="titles2">Precio desde: {{card.precionoche}} $ </p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </carousel>
    </div>
  </div>
</div>
