.content {
    margin-right: 16px;
    margin-bottom: 16px;
}

.input{
  width: 250px;
}

.filter{
  width: 535px;
}
.content2{
  margin: 2em auto;
  width: 1000px;

}

.content3{
  margin: 2em auto;
  width: 1200px;
}


.hoteltitle{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: normal;
  text-rendering: auto;
  text-transform: uppercase;
  font-size: 16px;
} 

.hoteltitle2{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: normal;
  text-rendering: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
} 

.titles{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 15px;
}

mat-icon{
  fill: gold;
  color: gold;
}

.titles2{
  font-weight: bold;
  font-size: 12px;
}

.titles3{
  text-align: center;
  
}

.titles4{
  margin-left: 60px;
  margin-top: -9.8px;
}


.subtitles{
  color:#3f51b5;
}

.subtitles2{
  text-align: center;
  margin-top: 5px;
  color:#555555;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 25px;
  font-weight: 600;
}

.subtitles3{
  position: relative;
  text-align: center;
  margin-top: 25px;
  color:#555555;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 25px;
  font-weight: 600;
}

.line{
  margin-top: -10px;
  margin-bottom: 8px;
  background-color: #3f51b5;
  height: 1px;
}

.card-style{
  margin-top: 16px;
}

.card-style2{
  padding: 0px;
}


.personass{
  width: 100%;
}

.tamanoImagen{
  height: 200px;
}

.tamanoImagen2{
  margin: 0px;
  display: block;
  width: 250px;; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 200px;
}

  .carusell{
    position: relative;
  }
  .content1{
    position: relative;
  }

  .opacidad {
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0.1px;
    color: #fff;
    text-align: center;
    padding-top: 1em;
  }

  .prueba{
    position: absolute;
  }

  .tituloBanner{
    position: absolute;
    overflow: visible;
    top: 36%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 4em;
    font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    color:white;
  }

  .subtituloBanner{
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 2.5em;
    font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color:white;
  }

.texto-encima{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 72%);
  z-index: 1;
  position: absolute;
  top: 65%;
  left: 5.8%;
}

.texto-encima2{
  padding-left: 5px;
  padding-right: 7.5px;
  background: #00ff80;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 72%);
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 62%;
}

.esquina1{
  position: absolute;
  top: 100%;
  left: 100%;
  content: '';
  height: 0;
  width: 0;
  border-bottom: 8px solid transparent;
  border-left: 15px solid #67d683;
}

.cuadro1{
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
  height: 0;
  width: 0;
  border-bottom: 20px solid #00ff80;
  border-left: 15px solid #00ff80;
}

.cuadro2{
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
  height: 0;
  width: 0;
  border-bottom: 20px solid rgb(255, 0, 0);
  border-left: 15px solid rgb(255, 0, 0);
}

.esquina2{
  position: absolute;
  top: 100%;
  left: 100%;
  content: '';
  height: 0;
  width: 0;
  border-bottom: 8px solid transparent;
  border-left: 15px solid #f85d5d;
}

.esquina3{
  position: absolute;
  top: 0;
  left: -10px;
  content: '';
  height: 0;
  width: 0;
  border-bottom: 20px solid transparent;
  border-right: 10px solid #00ff80;
}

.esquina4{
  position: absolute;
  top: 0;
  left: -10px;
  content: '';
  height: 0;
  width: 0;
  border-bottom: 20px solid transparent;
  border-right: 10px solid rgb(255, 0, 0);
}


.texto-encima3{
  padding-left: 5px;
  padding-right: 12.05px;
  background: rgb(255, 0, 0);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 72%);
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 62%;
}




/*//////////////////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.divi{
    margin-top: 8%;
}
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #3f51b5;
}
.error-container > span > span {
  display: inline-block;
  position: relative;
}
.error-container > span:nth-of-type(1) {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: #593fb5;
}
.error-container > span:nth-of-type(1) > span {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.error-container > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: #593fb5;
}
.error-container > span:nth-of-type(3) > span {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}
@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #bbb;
}

.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
  color: #555555;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #bbb;
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

.colorIcon{
  color: grey;
}



