.content {
    margin-right: 16px;
    margin-bottom: 16px;
}

.input{
  width: 250px;
}

.filter{
  width: 535px;
}
.content2{
  margin: 2em auto;
  width: 1000px;

}

.content3{
  margin: 2em auto;
  width: 1000px;
}

.hoteltitle{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
} 

.titles{
  font-weight: bold;
  font-size: 15px;
}

.titles2{
  font-weight: bold;
  font-size: 12px;
}

.subtitles{
  color:#3f51b5;
}

.subtitles2{
  font-weight: bold;
  font-size: 20px;
  color:#3f51b5;
}

.line{
  margin-top: -10px;
  margin-bottom: 8px;
  background-color: #3f51b5;
  height: 1px;
}

.card-style{
  margin-top: 16px;
}

.card-style2{
  margin-top: 16px;
  margin-left: 30px;
}


/*
//////////////////Estrellas de puntiacion/////////////////////////

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
*/
/*///////////////////////////////////////////////////////////////////////*/


