<div class="content1">
  <owl-carousel-o [options]="customOptions2">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/Subachoque2.jpg" alt="img 1">
        <div class="opacidad"></div>
      </div>
      <p class="tituloBanner">OCCIBANA</p>
      <p class="subtituloBanner">Los mejores hoteles de la sabana occidente a un solo clic</p>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/Zipacon1.jpg" alt="img 2">
        <div class="opacidad"></div>
        <p class="tituloBanner">OCCIBANA</p>
        <p class="subtituloBanner">Los mejores hoteles de la sabana occidente a un solo clic</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/Funza2.jpg" alt="img 3">
        <div class="opacidad"></div>
        <p class="tituloBanner">OCCIBANA</p>
        <p class="subtituloBanner">Los mejores hoteles de la sabana occidente a un solo clic</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/Madrid1.jpg" alt="img 4">
        <div class="opacidad"></div>
        <p class="tituloBanner">OCCIBANA</p>
        <p class="subtituloBanner">Los mejores hoteles de la sabana occidente a un solo clic</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/Zipacon2.jpg" alt="img 5">
        <div class="opacidad"></div>
        <p class="tituloBanner">OCCIBANA</p>
        <p class="subtituloBanner">Los mejores hoteles de la sabana occidente a un solo clic</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="./assets/images/Subachoque1.jpg" alt="img 6">
        <div class="opacidad"></div>
        <p class="tituloBanner">OCCIBANA</p>
        <p class="subtituloBanner">Los mejores hoteles de la sabana occidente a un solo clic</p>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>




<div class="content2">
    <div>
      <table>
        <tr>
          <td>
            <mat-form-field class="filter" appearance="fill">
              <mat-label>Consultar hotel por nombre</mat-label>
              <input matInput [(ngModel)]="searchTerm">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Precio minimo </mat-label>
              <input matInput type="number" [(ngModel)]="searchMin">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Precio maximo</mat-label>
              <input matInput type="number" [(ngModel)]="searchMax">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table style="margin: auto; margin-left: 6%;">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Municipio</mat-label>
              <mat-select [(ngModel)]="searchMun">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let municipio of listasMunicipios" [value]="municipio.nombre">{{municipio.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="menubar">
              <mat-label>Zonas</mat-label>
              <mat-select [(ngModel)]="searchZona">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let zonas of listasZonas" [value]="zonas.nombre">{{zonas.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Tipo de Habitación</mat-label>
              <mat-select [(ngModel)]="searchHab">
                <mat-option value="Basica">Basica</mat-option>
                <mat-option value="Doble">Doble</mat-option>
                <mat-option value="Premium">Premium</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="personass" appearance="fill">
              <mat-label>personas</mat-label>
              <mat-select [(ngModel)]="searchPer">
                <mat-option># de personas</mat-option>
                <mat-option value="1"><strong>1</strong>
                  <mat-icon>person</mat-icon>
                </mat-option>
                <mat-option value="2"><strong>2</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="3"><strong>3</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="4"><strong>4</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="5"><strong>5</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="6"><strong>6</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="7"><strong>7</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="8"><strong>8</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
                <mat-option value="9"><strong>9</strong>
                  <mat-icon>people</mat-icon>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div style="text-align:center">
      <star-rating value="5" [totalstars]="5" checkedcolor="gold" uncheckedcolor="gray" size="35px" readonly="false"
        (rate)="onRate($event)"></star-rating>
    </div>


  <div class="subtitles2">
    <br>
    Descubre los hoteles principales en la sabana de occidente
  </div>

  <div *ngIf="filtroNull" class="divi">
    <section class="error-container">
      <span><span>¡</span></span>
      <span>OOPS</span>
      <span><span>!</span></span>
    </section>
    <p class="zoom-area"><b>Sin resultados</b></p>
    <p class="zoom-area"><b>No se encontraron resultados para la busqueda</b></p>
    <div class="link-container">
      <button mat-raised-button style="cursor: pointer" color="primary" (click)="recargarHoteles()">
        Nueva busqueda
      </button>
    </div>
    <br><br>
  </div>

  <div>
    <div class="content" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
      <ng-container *ngFor="let card of listaDeHotelesPrincipalesFiltrados">
        <mat-card style="cursor: pointer;" class="card-style" fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)" (click)="mostrarHotel(card.idhotel)">
          <img mat-card-image class="tamanoImagen" src="{{url}}{{card.imagen}}">
          <mat-card-content>
            <div class="hoteltitle"> {{card.nombre}} </div>
            <div class="titles">Precios desde: {{card.precionoche}}$ </div>
            <div class="texto-encima">{{card.municipio}}</div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>

  <div class="link-container">
    <button mat-raised-button style="cursor: pointer" color="primary" (click)="recargarHoteles()">
      Nueva busqueda
    </button>
  </div>

</div>


<div class="subtitles3">
  Descubre nuestras sugerencias y hoteles destacados
</div>

<div class="content3">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let hotelesDes of hotelesDestacados">
      <ng-template carouselSlide>
        <mat-card style="cursor: pointer;" class="card-style2" (click)="mostrarHotel(hotelesDes.idhotel)">
          <img mat-card-image class="tamanoImagen2" src="{{url}}{{hotelesDes.imagen}}">
          <mat-card-content>
            <p></p>
            <p class="hoteltitle">    {{hotelesDes.nombre}} </p>
            <div class="line"></div>
            <p class="titles2">  Precio desde: {{hotelesDes.precionoche}} $ </p>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>


