<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <div class="flex-row">
            <div class="izquierda">
                <!--<img src="./assets/images/252-2520411_my-community-buildings-set-02-clipart-hotel-icon.png" >-->
                <p class="opacidad"></p>
                <div class="nombreHot">Número de camas: <strong>{{habitacionesH.numcamas}}</strong> camas </div>
                <div class="numPer">Capacidad: <strong>{{habitacionesH.numpersonas}}</strong> personas máximo </div>
                <div class="precioHab">{{nombreHotel}}</div>
                <div class="numeroCam"><strong>{{habitacionesH.precio}}</strong>$/noche</div>
                <div class="numeroBanios">Número de baños: <strong>{{habitacionesH.numbanio}}</strong> baños </div>
                <button mat-raised-button style="cursor: pointer" color="primary" class="botonReservar"
                    [disabled]="boton" (click)="onFromSubmit()">¡Reservar!</button>
                <img src="./assets/images/hotel1.jpg" width="100%" height="100%" class="imagenHotel">
            </div>
            <div class="derecha">
                <button mat-fab style="cursor: pointer" class="botonCerrar" color="warn" (click)="hotel()">
                    <mat-icon> clear </mat-icon>
                </button>
                <br>
                <div class="subtitles2">
                    Reserva tu habitación
                </div>
                <br><br>
                <form [formGroup]="reservaForm" (ngSubmit)="onFromSubmit()">
                    <div class="flex-row">
                        <mat-form-field appearance="fill" class="fecha">
                            <mat-label>Fecha de llegada...</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="FechaLlegada"
                                [(ngModel)]="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="reservaForm.get('FechaLlegada').hasError('required')">
                                La fecha de llegada es <strong>Requerida</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="fecha">
                            <mat-label>Fecha de salida...</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="Fechasalida"
                                [(ngModel)]="fechaFin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="reservaForm.get('Fechasalida').hasError('required')">
                                La fecha de salida es <strong>Requerida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex-row">
                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="Nombre">
                            <mat-error *ngIf="reservaForm.get('Nombre').hasError('required')">
                                El nombre es <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="Apellido">
                            <mat-error *ngIf="reservaForm.get('Apellido').hasError('required')">
                                El apellido es <strong>Requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex-row">
                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Correo</mat-label>
                            <input matInput formControlName="Correo">
                            <mat-error *ngIf="reservaForm.get('Correo').hasError('email')">
                                Ingresa un correo <strong>válido</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="field">
                            <mat-label>Confirmar correo</mat-label>
                            <input matInput formControlName="ConfCorreo">
                            <mat-error
                                *ngIf="reservaForm.controls.ConfCorreo.hasError('NoEmailMatch') && !reservaForm.get('ConfCorreo').hasError('required')">
                                Los correos<strong> no coinciden</strong>
                            </mat-error>
                            <mat-error *ngIf="reservaForm.get('ConfCorreo').hasError('email')">
                                Ingresa un correo <strong>válido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-radio-group aria-label="Select an option" formControlName="ModoDePago">
                            <mat-radio-button value="efectivo">Efectivo</mat-radio-button>
                            <mat-radio-button value="tarjeta">Tarjeta</mat-radio-button>
                            <mat-error *ngIf="reservaForm.get('ModoDePago').hasError('required')">
                                El nombre es <strong>Requerido</strong>
                            </mat-error>
                        </mat-radio-group>
                    </div>
                    <div class="boton">
                        <p>{{mensaje}}</p>
                        <button mat-raised-button style="cursor: pointer" color="primary" type="button"
                            (click)="dataDisponibilidad()">Disponibilidad</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <p *ngIf="logeado">Inicia sesion para reservar</p>
    </mat-card-actions>
</mat-card>