mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  .example-tab-icon {
    margin-right: 8px;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }