<div class="main-wrapper">
    <mat-card>
        <mat-card-header>
            <div class="container">
                <img class="crop" src=".\assets\images\logo_login.png" width="150" height="160">
            </div>
        </mat-card-header>

        <mat-card-content>

            <br>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Iniciar sesión">
                    <form #myForm="ngForm" (ngSubmit)="onFromSubmit(myForm)">
                        <p>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-label>Usuario</mat-label>
                                <input required matInput name="Usuario" placeholder="Usuario" value="" ngModel>
                                <mat-icon class="white-icon" matSuffix>mail</mat-icon>
                            </mat-form-field>

                        </p>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Ingresar su contraseña</mat-label>
                                <input required matInput name="Contrasena" [type]="hide ? 'password' : 'text'" ngModel>
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon class="white-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-error *ngIf="error != null">Usuario o Contraseña incorrectas</mat-error>
                        </p>

                        <p>
                            <button button mat-stroked-button style="color:#fffafa" [disabled]="myForm.invalid" class="btn-block">
                                Iniciar sesión
                            </button>
                        </p>
                        <p>
                            <a style="color:#a271fc" href="">¿Olvido su contraseña?</a>
                        </p>
                    </form>
                </mat-tab>
                <mat-tab label="Registrarse">
                    <form #myForm2="ngForm" (ngSubmit)="onFromSubmit2(myForm2)">
                        <mat-vertical-stepper>
                            <mat-step>
                                <ng-template matStepLabel>Información personal</ng-template>
                                <mat-form-field class="textfield">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Escriba su nombre" name="Nombre" ngModel>
                                </mat-form-field>
                                <mat-form-field class="textfield">
                                    <mat-label>Apellido</mat-label>
                                    <input matInput placeholder="Escriba su apellido" name="Apellido" ngModel>
                                </mat-form-field>
                                <mat-form-field class="textfield">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput placeholder="Escriba su telefono personal" name="Telefono" ngModel>
                                </mat-form-field>
                                <mat-form-field class="textfield">
                                    <mat-label>Correo</mat-label>
                                    <input matInput placeholder="Escriba su correo personal" name="Correo" ngModel>
                                </mat-form-field>
                                <br>
                                <button mat-button type="button" matStepperNext>Siguiente</button>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Datos de usuario</ng-template>
                                <mat-form-field class="textfield">
                                    <mat-label>Nombre de usuario</mat-label>
                                    <input matInput placeholder="Escriba su nombre de usuario" name="Usuario" ngModel>
                                </mat-form-field>
                                <mat-form-field class="textfield">
                                    <mat-label>Contraseña</mat-label>
                                    <input required matInput name="Contrasena" [type]="hide ? 'password' : 'text'" ngModel>
                                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="white-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field class="textfield">
                                    <mat-label>Confirme su contraseña</mat-label>
                                    <input required matInput [type]="hide2 ? 'password' : 'text'" ngModel>
                                <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                    <mat-icon class="white-icon">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                </mat-form-field>
                                <br>
                                <button mat-button type="button" matStepperPrevious>Anterior</button>
                                <button mat-button [disabled]="myForm2.invalid">!Hecho!</button>
                            </mat-step>
                        </mat-vertical-stepper>
                    </form>
                </mat-tab>
            </mat-tab-group>

        </mat-card-content>
    </mat-card>
</div>