<div class="example-container">
  <div [hidden]="barraProgreso">
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-toolbar color="primary" class="example-toolbar">

    <img src="assets/logo.png" width="100" style="margin-left: 20px;">
    <!--<span>Occibana</span>-->
    <span class="example-spacer"></span>

    <button mat-raised-button routerLink="/inicio" style="cursor: pointer" color="primary">
      Inicio
    </button>
    
    <button mat-raised-button routerLink="/comentar-calificar" style="cursor: pointer" color="primary">
      Monda
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="usuario == null" routerLink="/login">
        <mat-icon>account_box</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item *ngIf="usuario != null" routerLink="/perfil">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item *ngIf="usuario != null" routerLink="/inicio" (click)="postCerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <router-outlet></router-outlet>
  <div class="container"></div>
  <footer>
    <!-- Footer main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">Nosotros</h2>
        <ul>
          <li><a href="#">Mision</a></li>
          <li><a href="#">Vision</a></li>
          <li><a href="#">Lema</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Recursos</h2>
        <ul>
          <li><a href="#">Manual de usuario</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Contactanos</h2>
        <ul>
          <li><mat-icon> email</mat-icon><a href="#"> Occibana@gmail.com</a></li>
          <li><mat-icon> phone</mat-icon><a href="#"> +57 1234567</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Siguenos</h2>
        <div class="example-button-container">
          <button mat-fab disabled class="boton">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-fab disabled class="boton">
            <mat-icon>http</mat-icon>
          </button>
          <button mat-fab disabled class="boton">
            <mat-icon>http</mat-icon>
          </button>
          <button mat-fab disabled class="boton">
            <mat-icon>linkedin</mat-icon>
          </button>
        </div>
      </div>
    </section>
  
    <!-- Footer social -->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </section>
  
    <!-- Footer legal -->
    <section class="ft-legal">
      <ul class="ft-legal-list">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li>&copy; 2019 Copyright Occibana</li>
      </ul>
    </section>
  </footer>

</div>