<div class="example-container">
  <div [hidden]="barraProgreso">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-toolbar color="primary" class="example-toolbar">
    <img src="assets/images/logo_notitle.png" class="tituloOccImg">
    <p class="tituloOcci">OCCIBANA</p>
    <!--<span>Occibana</span>-->
    <span class="example-spacer"></span>

    <button mat-raised-button routerLink="/inicio" *ngIf="usuario == null" class="botonInicio" style="cursor: pointer"
      color="primary">
      Inicio
    </button>

    <button mat-raised-button class="botonLog" *ngIf="usuario == null" routerLink="/login" color="primary">
      <mat-icon>account_box</mat-icon>
      <span>Iniciar Sesión</span>
    </button>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="usuario != null" class="botonMenu">
      <!--<img src="assets/images/cheems.jpg">-->
      <img src="{{url2}}{{cargarDatosPerfil.datos.fotoperfil}}" fallimg>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="usuario == null" routerLink="/login">
        <mat-icon>account_box</mat-icon>
        <span>Iniciar Sesión</span>
      </button>
      <button mat-menu-item *ngIf="usuario != null" routerLink="/inicio">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item *ngIf="usuario != null" routerLink="/perfil">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item *ngIf="usuario != null" routerLink="/inicio" (click)="postCerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <router-outlet></router-outlet>
  <div class="container"></div>
  <footer>
    <!-- Footer main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title"><strong>Nosotros</strong></h2>
        <ul>
          <li><a style="cursor:pointer" (click)="openDialogMision()" >Misión</a></li>
          <li><a style="cursor:pointer" (click)="openDialogVision()" >Visión</a></li>
          <li><a style="cursor:pointer" (click)="openDialogLema()" >Lema</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title"><strong>Recursos</strong></h2>
        <ul>
          <li><a href="https://drive.google.com/file/d/1Qe0pdKkkGwYtIuNSlGKGYyXOAf_fwyMF/view" target="_blank">Manual de usuario</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Contáctanos</h2>
        <ul>
          <li>
            <mat-icon> email</mat-icon><a href="https://accounts.google.com/" target="_blank" > Occibana@gmail.com</a>
          </li>
          <li>
            <mat-icon> phone</mat-icon><a href="https://www.google.com/" target="_blank"> +57 1234567</a>
          </li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Síguenos</h2>
        <div class="example-button-container">
          <a mat-fab  class="boton" color="primary" href="https://www.facebook.com/" target="_blank">
            <mat-icon>facebook</mat-icon>
          </a>
          <a mat-fab  class="boton" color="primary" href="https://co.linkedin.com/" target="_blank">
            <mat-icon>whatshot</mat-icon>
          </a>
          <a mat-fab  class="boton" color="primary" href="https://github.com/Elsebitas/Occibana" target="_blank">
            <mat-icon>device_hub</mat-icon>
          </a>
        </div>
      </div>
    </section>

    <!-- Footer social -->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
      <ul class="ft-legal-list">
        <li><a></a></li>
        <li><a></a></li>
        <li>&copy; 2021 Copyright Occibana</li>
      </ul>
    </section>
  </footer>

</div>