  .content {
    align-items: center;
    margin: 2em auto;
    width: 100%;
  }

  .filter{
    width: 100%;
  }

  .reservaTitle {
    text-align: center;
  }

  table {
    width: 100%;
  }
  
  div.center {
    text-align: center;
  }
