  .content {
    margin: 2em auto;
    width: 100%;
  }

  .filter{
    width: 100%;
  }

  .reservaTitle {
    text-align: center;
  }
  
  div.center {
    text-align: center;
  }

  .star_icon {
    color: rgb(255, 208, 0);
    margin: auto;
    font-size: 30px;
  }

  .star_img {
    width: 30px;
    height: 30px;
  }
  
  .calif {
    position: absolute;
  }