h1{
  font-size: xx-large;
}

.titulo{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #3f51b5;
  font-size: xx-large;
  font-style: bold;
    
}
.example-full-width{
    width: 85%;
}
mat-card {
    background-color:white;
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
    margin-top: 4%;
  }

  mat-card-header {
    text-align: center;
  }

  mat-card-content {
    margin: 2em auto;
    margin-top: 1%;
  }

.boton {
    margin-right: 2%;
    width: 42%;
}
.boton2 {
    width: 42%;
}
.colorIcon{
  color: grey;
}


.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.flex-row div{
  flex: 50%;
}

.izquierda{
  position: relative;
  width: 100%;
  
}

.derecha{  
  position: relative;  
  background: rgba(0,0,0,0.1);
}

.imagenHotel{
  background: rgb(141,154,227);
  background: linear-gradient(180deg, rgba(141,154,227,1) 5%, rgba(63,81,181,1) 74%, rgba(63,81,181,1) 100%);

}



.subtitles2{
  text-align: center;
  margin-top: 5px;
  color:#3d3d3d;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 25px;
  font-weight: 600;
}

.precioHab{
  top: 55%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  color:white;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 35px;
  font-weight: 550;
}


.nombreHot{
  top: 63%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  color:white;
  letter-spacing: normal;
  text-rendering: auto;
  font-size: 23px;
  font-weight: 500;
}


.fotoperfil{
  top: 10%;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: auto;
  text-align: center;
  border-radius: 150px;
  border: 2px rgb(147, 1, 245)
}


.opacidad {
  opacity: 0.5;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.0001px;
  color: #fff;
  text-align: center;
  padding-top: 0.0001;
}
