h1{
  font-size: xx-large;
}

.titulo{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #3f51b5;
  font-size: xx-large;
  font-style: bold;
    
}
.example-full-width{
    width: 85%;
}
mat-card {
    background-color:white;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    margin-top: 1%;
  }

  mat-card-header {
    text-align: center;
  }

  mat-card-content {
    margin: 2em auto;
    margin-top: 1%;
  }

.boton {
    margin-right: 2%;
    width: 42%;
}
.boton2 {
    width: 42%;
}
.colorIcon{
  color: grey;
}